apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
spec:
  replicas: 0
  template:
    spec:
      containers:
        - name: course-app-cont  
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"



